/* Grundlayout */
body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
}

/* Logo */
.logo {
    width: 240px;
    margin: 40px auto 0 auto;
    display: block;
}

/* Hero-Text */
.hero h1 {
    font-size:
